export(parallelExport)
export(parallelLibrary)
export(parallelMap)
export(parallelShowOptions)
export(parallelStart)
export(parallelStop)
export(registerLevels)
export(showRegisteredLevels)
import(BBmisc)
