export(parallelExport)
export(parallelLapply)
export(parallelLibrary)
export(parallelMap)
export(parallelSapply)
export(parallelShowOptions)
export(parallelStart)
export(parallelStartBatchJobs)
export(parallelStartLocal)
export(parallelStartMPI)
export(parallelStartMulticore)
export(parallelStartSocket)
export(parallelStop)
export(registerLevels)
export(showRegisteredLevels)
import(BBmisc)
